.wrap {
    max-width: 100%;
  display: block;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

.navbar-brand a img {
    width: 155px;
}

.bgmenu {
    padding-bottom: 10px;
}

.navbar {

    padding: 0px 15px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 4px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 10px;
}

nav ul {
    text-align: center;
}

nav ul li a {

    padding: 17px;
    font-weight: bold;
    font-size: 15px;
    color: #555;
}

nav ul li button {
    background: #6872d9;
    color: #000;
    border: 1px solid #6872d9;
    border-radius: 0;
    font-size: 18px;
    padding: 6px 12px 5px;
    transform: translateY(-5px);
    cursor: pointer;
}

.dropdown-menu {
    left: -20px;
}

.dropdown-toggle::after {
    display: none;

}
.bgbtn {
	background: #EEF4ED;
	border-bottom: 1px solid #54595F;
	padding: 10px 0px;
	margin-bottom: 10px;
}
.b1 {
	background: #fff;
	color: #ff7f24;
	border-style: solid;
	border-width: 2px;
	border-color: #ff7f24;
	padding: 7px 13px;
	margin-right: 10px;
}


.b2 {
    background:
        #ff7f24;
    border-style: solid;
    border-width: 2px;
    border-color:
        #ff7f24;
    padding: 7px 13px;
color: #fff;
}
.bt2{
    float: right;
}

.b4{
    padding: 10px 14px;
    border: 0;
    border-right: 2px solid #54595F;
    background-color: transparent;    color: #54595F;

}
.b3 {
	color: #54595F;
	border: 2px solid #54595F;
	background-color: transparent;
	padding: 5px 23px;
	margin-left: 10px;
	border-radius: 3px;
}

.bgup {
	background-image: url(../imgs/Rel.jpg);
	padding: 20px 48px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	border-radius: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.bgup::before {
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0;
	left: 0%;
	right: 0%;
	z-index: ;
	background: linear-gradient(90deg, #5890B3 46%, #fff0 67%);
	opacity: 0.5;
}















